:root {
    --body-background: #12232E;
    --content-highlight-primary: #007CC7;
    --white: #eefbfb;
  }
  
  .dark .blog-body {
      background-color: var(--body-background) !important;
  }
  
  .blog-author-area-photo {
      border: 4px solid var(--content-highlight-primary);
  }
  
  .blog-post-card-cover {
      border: 6px solid var(--content-highlight-primary);
      border-radius: 10px;
  }
  
  .dark .blog-post-card-cover {
      border: 6px solid var(--content-highlight-primary);
      border-radius: 10px;
  }
  
  .dark .blog-subscription-form-button {
      color: var(--white);
  }
  
  .blog-subscription-form-button {
      color: var(--content-highlight-primary);
  }
  
  .dark .blog-footer-area {
      background-color: #000000 !important;
  }
  
  .blog-subscription-form-input:focus {
      border: 1px solid var(--content-highlight-primary);
  }
  
  .dark .blog-subscription-form-input:focus {
      border: 1px solid var(--content-highlight-primary);
  }